@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Select the subject</h1>
    <form action="/home/subjects/docker">
        <input type="submit" value="Docker"></input>
    </form>
    <form action="/home/subjects/git">
        <input type="submit" value="Git"></input>
    </form>
</div>
